@model IList<AttendancePolicyViewModel>
<h3>Attendace Policy List Information</h3>
<a href="/attendancepolicy/entry" class="btn btn-outline-primary">Entry</a>
@if(TempData["info"]!=null){
<div class="alert alert-success" role="alert">
    @TempData["info"]
</div>
}
<table class="table">
    <thead>
        @{
            int i = 1;
        }
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Number of Late Time</th>
            <th scope="col">Number of Early Out Time</th>
            <th scope="col">Deduction In Amount</th>
            <th scope="col">Deduction In Day</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@item.Name</td>
                    <td>@item.NumberOfLateTime</td>
                    <td>@item.NumberOfEarlyOutTime</td>
                    <td>@item.DeductionInAmount</td>
                    <td>@item.DeductionInDay</td>
                    <td>
                        <a href="/attendancepolicy/edit?id=@item.Id" class="btn btn-success">EDIT</a>
                        <a href="/attendancepolicy/delete?id=@item.Id" class="btn btn-danger" onclick="return confirm('Are you sure to delete this record?');">DELETE</a>
                    </td>
                </tr>
                i++;
            }
        }
        else
        {
            <div class="alert alert-danger" role="alert">
               There is no data!!
            </div>
        }
    </tbody>
</table>