@model IList<DailyAttendanceViewModel>
<h3>Position List Information</h3>
<a href="/dailyattendance/entry" class="btn btn-outline-primary">Entry</a>
@if (TempData["info"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["info"]
    </div>
}
<table class="table">
    <thead>
        @{
            int i = 1;
        }
        <tr>
            <th scope="col">#</th>
            <th scope="col">Attendance Date</th>
            <th scope="col">In Time</th>
            <th scope="col">Out Time</th>
            <th scope="col">Employee</th>
            <th scope="col">Department</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@item.AttendanceDate</td>
                    <td>@item.InTime</td>
                    <td>@item.OutTime</td>
                    <td>@item.EmployeeInfo</td>
                    <td>@item.DepartmentInfo</td>
                    
                    <td>
                        <a href="/dailyattendance/edit?id=@item.Id" class="btn btn-success">EDIT</a>
                        <a href="/dailyattendance/delete?id=@item.Id" class="btn btn-danger" onclick="return confirm('Are you sure to delete this record?');">DELETE</a>
                    </td>
                </tr>
                i++;
            }
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                There is no data!!
            </div>
        }
    </tbody>
</table>